
<style>
  .special-grid {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
  }
  .for-employers,
  .fast-and-reliable,
  .need-employees,
  .we-know {
    grid-column: 1 / -1;
  }

  .for-employers-wrapper {
    grid-column: 1 / -1;
  }

  @media all and (min-width: 75rem) {
    .for-employers {
      grid-column: 1 / 2;
      padding-left: 20%;
    }

    .need-employees {
      grid-column: 2/3;
    }

    .we-know {
      grid-column: 3/4;
    }

    .fast-and-reliable {
      grid-column: 4/5;
    }
  }
</style>
<div class="for-employers-wrapper special-grid">
  <div class="for-employers" data-aos="fade-up">
    <span class="fancy">quality staffing</span>
    <h1 class="text-left">FOR EMPLOYERS</h1>
    <p>
      We recruit staff at all levels, from entry-level to executive and management level to board members, and we help a wide range of businesses in the industry: cannabis dispensaries and stores, cultivation centers, ancillary businesses that serve the cannabis
      industry, and nonprofit organizations focused on drug policy. We’ll use our network, developed with more than a decade in the industry, to find you the right candidate.
    </p>
    <a href="/employer-form"><button type="button" class="btn btn-primary tsg-btn hvr-sweep-to-right">Fill a position</button></a>
  </div>

  <div class="need-employees" data-aos="fade-up">
    <span><strong>WHAT WE DO BEST</strong></span>
    <p>We connect you with candidates who are loyal and ethical; who want to be part of sustainable and socially-responsible organizations. Many people we've placed have grown into more specialized roles and are contributing to the industry's progress
      at-large.
    </p>
  </div>

  <div class="we-know" data-aos="fade-up">
    <span><strong>WE KNOW PEOPLE</strong></span>
    <p>With our long-standing, excellent reputations in the marijuana industry and movement, we know the best people to fit your needs. Let us help you in your search.</p>
  </div>

  <div class="fast-and-reliable" data-aos="fade-up">
    <span><strong>FAST AND RELIABLE SERVICE</strong></span>
    <p>Get the job done quickly by our pool of trustworthy freelancers. By working with our firm, you’ll not only save time and effort, you can also rest assured that you will be presented with highly qualified, skilled and motivated candidates. We are dedicated to providing you with the exceptional candidates you need for your company to thrive and grow.
    </p>
  </div>
</div>
