<div class="testimonials" data-aos="fade-up">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row" style="padding: 20px">
          <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
          <p class="testimonial_para">I had become very frustrated with the job application process and was unhappy with a mundane entry-level position found through a general staffing agency after graduating college. I reached out to Shaleen Title and she connected me with the
            position I’ve held for the last year working at the nation’s premiere marijuana law firm in Denver, CO. Without Shaleen’s efforts I would not be waking up every morning excited to go to work. This job has changed my life and Shaleen was responsible
            for making that happen! I can’t thank you enough!</p><br>
          <div class="row" style="margin: 0 auto; width: 100%">
            <div class="col-sm-2">
              <img alt=" " src="img/testimonials/katssdpboard-300x200-150x150.jpeg" class="img-responsive" style="width: 100%; max-width: 150px; display: block; margin: 0 auto" alt=" ">
            </div>
            <div class="col-lg-10">
              <p ><strong>Kat Humphries</strong></p>
              <p class="testimonial_subtitle" ><span>Legal Assistant at Vicente Sederberg</span><br>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row" style="padding: 20px">
          <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
          <p class="testimonial_para">Danielle Schumacher is a talented, capable and hard-working individual with deep roots in the cannabis community. She has been an activist, an employee and a manager for numerous groups over the years, and I have had the opportunity to work
            with her directly. She has a broad understanding of the issues and many links into the community based upon, among other things, her work with Oaksterdam University and the offices of physicians, attorneys and cannabis experts including myself.
            She is organized, efficient and a problem solver. It is my honor to recommend her services, and I have no doubt that those who take advantage of her offerings will be pleased with the services and results that they receive.</p><br>
          <div class="row" style="margin: 0 auto; width: 100%">
            <div class="col-sm-2">
              <img alt=" " src="img/testimonials/chris2013-150x150.jpg" class="img-responsive" style="width:100%;max-width:100px" alt=" ">
            </div>
            <div class="col-lg-10">
              <p class=""><strong>Chris Conrad</strong></p>
              <p class="testimonial_subtitle"><span>Court Qualified Cannabis Expert Witness / Consultant</span><br>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row" style="padding: 20px">
          <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
          <p class="testimonial_para">Thanks to Shaleen’s recruiting efforts, we were able to bring in high-quality, diverse candidates who were a great fit for our firm.</p><br>
          <div class="row" style="margin: 0 auto; width: 100%">
            <div class="col-sm-2">
              <img alt=" " src="img/testimonials/Brian_Vicente_4312-e1414718789679-150x150.jpg" class="img-responsive" style="width:100%;max-width:100px" alt=" ">
            </div>
            <div class="col-lg-10">
              <p><strong>Brian Vicente</strong></p>
              <p class="testimonial_subtitle" ><span>Partner, Vicente Sederberg, LLC</span><br>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row" style="padding: 20px">
          <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
          <p class="testimonial_para">When Shaleen recruited me to volunteer for the non-profit Law Enforcement Against Prohibition, it changed my life. That was about five years ago and now I am a full time staff member.  Before then, I had bounced around from job to job, never
            really finding my passion but only paying the bills.   My new career gave my life direction and purpose. For the first time I not only knew what I wanted to do with my life, but Shaleen had showed me how to make it happen.  She opened my eyes
            to an entire professional world in drug policy reform that I had not even known existed before.  But more than this, through her exceptional mentorship, she helped me navigate these new waters and guided me to the place I am today.  I get
            to wake up every morning and work at a job in which I absolutely believe and love.  I will be forever grateful to Shaleen for my new career and many of the friends whom I’ve met along the way.</p><br>
          <div class="row" style="margin: 0 auto; width: 100%">
            <div class="col-sm-2">
              <img alt=" " src="img/testimonials/9e087e3d-6f7a-4607-98de-556e0047ce94_zps48bb3345-150x150.jpg" class="img-responsive" style="width:100%;max-width:100px" alt=" ">
            </div>
            <div class="col-lg-10">
              <p><strong>Lindsay Akin</strong></p>
              <p class="testimonial_subtitle" ><span>Assistant Speakers Bureau Director at Law Enforcement Against Prohibition</span><br>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row" style="padding: 20px">
          <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
          <p class="testimonial_para">Shaleen helped get me started working in drug policy reform by offering me a job at LEAP not long after I was out of college. When I moved to Colorado in 2012, she recruited me to volunteer with the Amendment 64 campaign. Volunteering became
            a job, and I found myself working to regulate marijuana in Colorado. Through my work I had the chance to do some videos for the A64 campaign, which inspired me to pursue video work as a career. Shaleen even had a hand in the social media launch
            of my company. She and another activist had a viral video idea commenting on the 2012 Obama campaign commerical and asked if I'd help produce it. Some quick thinking, mixed with Shaleen's will and determination, and we created a video that
            conveyed a message and spread quickly. It was the first video we posted, and at 61,995 views, it is our most-viewed video to date.</p><br>
          <div class="row" style="margin: 0 auto; width: 100%">
            <div class="col-sm-2">
              <img alt=" " src="img/testimonials/ChrisWallis-150x150.jpg" class="img-responsive" style="width: 100%; max-width:100px" alt=" ">
            </div>
            <div class="col-lg-10">
              <p ><strong>Chris Wallis</strong></p>
              <p class="testimonial_subtitle"><span>Side Pocket Images</span><br>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row" style="padding: 20px">
          <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
          <p class="testimonial_para">There are still so few women involved in the legalization movement, and even fewer women of color. Shaleen is an absolute inspiration and a necessary role model for other young female activists. She teaches us to never be afraid to speak our
            mind, and reminds us that this isn't a movement only "by and about" white men. And personally, without her advice, I would have never been able to "come out" to my pretty traditional Chinese family about a cause I am passionate about.</p><br>
          <div class="row" style="margin: 0 auto; width: 100%">
            <div class="col-sm-2">
              <img alt=" " src="img/testimonials/0cd544f-e1415126196231-150x150.jpg" class="img-responsive" style="width:100%;max-width:100px" alt=" ">
            </div>
            <div class="col-lg-10">
              <p><strong>Rachelle Yeung</strong></p>
              <p class="testimonial_subtitle"><span>Marijuana Policy Project</span><br>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row" style="padding: 20px">
          <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
          <p class="testimonial_para">As our contracted office manager for two and a half years, Danielle took our very disorganized office and created a system that worked for us. She has exceptional organizational skills and dedication to her clients, is highly intelligent and
            works with the big picture along with the minutiae. We knew things would be under control with Danielle around. Now, Danielle is our "go-to person" whenever we need some help with staffing our office or projects. Her wide range of experience
            enables her to know the many facets of the cannabis industry as well as the activist side of things.</p><br>
          <div class="row" style="margin: 0 auto; width: 100%">
            <div class="col-sm-2">
              <img alt=" " src="img/testimonials/mikki13trinity-150x150.jpg" class="img-responsive" style="width:100%;max-width:100px" alt=" ">
            </div>
            <div class="col-lg-10">
              <p ><strong>Mikki Norris, M.A.</strong></p>
              <p class="testimonial_subtitle" ><span>Director, Cannabis Consumers Campaign</span><br>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row" style="padding: 20px">
          <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
          <p class="testimonial_para">As Denver’s longest continuously operating dispensary, we at Denver Relief hold very high standards for our employees.  It’s not always an easy task finding people who understand cannabis, carry themselves in a professional manner and have the
            ability to adapt in this quickly evolving industry.  We reached out to Shaleen and THC Staffing Group in hopes they could make that search a little easier for us.  They located someone they believed was a good fit for our culture and needs
            and we hired Jonathan in less than a week.  Not only has Jonathan met those high expectations after his hire, he has exceeded them and is already rising in the ranks.  I know we’ll be going back to Shaleen and her team in the future, not only
            for our Denver business, but for those of our clients around the country.</p><br>
          <div class="row" style="margin: 0 auto; width: 100%">
            <div class="col-sm-2">
              <img alt=" " src="img/testimonials/kayvan-fi2_sq-150x150.jpg" class="img-responsive" style="width:100%;max-width:100px" alt=" ">
            </div>
            <div class="col-lg-10">
              <p><strong>Kayvan Khalatbari</strong></p>
              <p class="testimonial_subtitle"><span>Denver Relief</span><br>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row" style="padding: 20px">
          <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
          <p class="testimonial_para">I had always dreamed about being a part of the cannabis industry, but wasn’t sure what opportunities were available. I submitted my resume to THC Staffing Group, and I couldn’t be happier with the results! With Danielle’s guidance I was able
            to find a position at an amazing organization that had a need for my exact skill set and was a great fit for my personality. Every day I am filled with a sense of purpose and passion for a career and an industry in which I wholeheartedly believe
            in. I am so grateful for Danielle and Shaleen for changing my life.</p><br>
          <div class="row" style="margin: 0 auto; width: 100%">
            <div class="col-sm-2">
              <img alt=" " src="img/testimonials/laurenwatson.jpg" class="img-responsive" style="width:100%;max-width:100px" alt=" ">
            </div>
            <div class="col-lg-10">
              <p><strong>Lauren Watson</strong></p>
              <p class="testimonial_subtitle"><span>Director of Marketing, Berkeley Patients Group</span><br>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Julia Germaine-->
      <div class="carousel-item">
        <div class="row" style="padding: 20px">
          <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
          <!-- Testimonial content here -->
          <p class="testimonial_para">Temescal Wellness sought an elite, seasoned sales professional who could rise to the challenge of serving wholesale clients in multiple regulatory environments, and work within a start-up environment. THC Staffing quickly came to understand Temescal's requirements, and sourced multiple qualified candidates. Supported by the THC Staffing team, Temescal identified, interviewed and hired a sales director with all the right experience and qualifications, and he's now hard at work and easily integrating with our team. Jason is a talented, earnest professional with a good heart and a pioneering spirit; as an employee and an individual, he reflects the ideals and goals for the cannabis industry that THC Staffing and Temescal share.</p><br>
          <div class="row" style="margin: 0 auto; width: 100%">
            <div class="col-sm-2">
              <!-- Headshot here-->
              <img alt=" " src="img/testimonials/julia-germaine.jpg" class="img-responsive" style="width:100%;max-width:100px" alt=" ">
            </div>
            <div class="col-lg-10">
              <!-- Name -->
              <p><strong>Julia Germaine</strong></p>
              <!-- Title -->
              <p class="testimonial_subtitle"><span>Co-Founder, COO of Temescal Wellness Massachusetts</span><br></p>
            </div>
          </div>
        </div>
      </div>
      <!-- David Downs -->
      <div class="carousel-item">
          <div class="row" style="padding: 20px">
            <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
            <!-- Testimonial content here -->
            <p class="testimonial_para">Jimi Devine came aboard our award-winning podcast The Hash as a truly plugged-in and qualified sale representative. But his real passion has been writing, and since then I've seen him blossom at Cannabis Now, San Francisco Chronicle, and High Times. It's because of THC Staffing that I've made not only an excellent colleague, but a lifelong friend. Danielle and her team is world-class.</p><br>
            <div class="row" style="margin: 0 auto; width: 100%">
              <div class="col-sm-2">
                <!-- Headshot here-->
                <img alt=" " src="img/testimonials/david-downs.jpg" class="img-responsive" style="height: 100px; width:100px;max-width:100px" alt=" ">
              </div>
              <div class="col-lg-10">
                <!-- Name -->
                <p><strong>David Downs</strong></p>
                <!-- Title -->
                <p class="testimonial_subtitle"><span>Award-winning Journalist, Best-selling Author</span><br></p>
              </div>
            </div>
          </div>
        </div>
        <!-- End testimonial items -->
    </div>
  </div>
  <div class="controls testimonial_control pull-right">
    <a class="left fa fa-chevron-left btn btn-default testimonial_btn" href="#carousel-example-generic" data-slide="prev" title="Next testimonial slide"></a>
    <a class="right fa fa-chevron-right btn btn-default testimonial_btn" href="#carousel-example-generic" data-slide="next" title="Previous testimonial slide"></a>
  </div>
</div>
